.hide {
  display: none;
}
#login-form,
#login-h1 {
  position: fixed;
  top: 330px;
}

#login-form {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

#login-form input {
  background-color: inherit;
  border: none;
  border-radius: 15px;
  padding: 5px;
  color: white;
  padding-left: 15px;
  height: 40px;
  cursor: pointer;
}
#login-form input::placeholder {
  color: white;
  font-size: 15px;
}

#login-h1 {
  color: white;
  margin: 10px 0px;
  font-size: 30px;
  font-weight: 600;
}

#login-form button {
  background-color: inherit;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px;
  border: 0.5px solid white;
}
