@import "reset.css";

@import "bg.css";
@import "weather.css";
@import "clock.css";
@import "login-form.css";
@import "toDo-list.css";
@import "quote.css";

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
