
#toDo-form,
#toDo-ul {
  position: fixed;
  top: 460px;
  z-index: 2;
}


#toDo-form input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
  margin: 10px;
  color: white;
  padding-left: 15px;
}
#toDo-form input::placeholder {
  color: white;
  margin-left: 10px;
  font-size: 15px;
}
#toDo-ul {
  
  position: absolute;
  width: 300px;
  box-sizing: border-box;
  margin-right: 300px;
  top: 550px;
  right: -250px;
  border: 0.01px solid white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  border-radius: 50px;
  padding: 20px;
}

#toDo-ul li {
  margin: 5px 0px;
  color: white;
  font-size: 15px;
  width: 100%;
  border-bottom: 0.01px solid burlywood;
}
#toDo-ul li button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}
